



<h1 style="text-align:center"> Employee Details</h1>

<table class="table">
    @foreach (var item in ViewBag.empDetails)
    {
        <tr>
            <td> @item.empNo </td>
            <td> @item.empName </td>
            <td> @item.empDesignation</td>
            <td> @item.empSalary </td>
            <td> @item.empIsPermenant </td>
        </tr>
    }
</table>